## Training datasets

In [2]:
import numpy as np
import pandas as pd

In [4]:
dataset1 = pd.read_csv("/workspaces/IDS706-Final_Project-Group2/Training_cleaned/Daily_train_cleaned.csv")

dataset1.head()

,Date,Daily transactions amount,Daily Fraudulent Transactions,Daily Fraudulent amount,Daily transactions Count
0,2019-01-01,156487.09,0,0.00,2414
1,2019-01-02,70723.58,7,2540.36,1118
2,2019-01-03,86516.49,12,6804.78,1236
3,2019-01-04,112436.39,13,7521.76,1474
4,2019-01-05,97496.13,13,7155.78,1409

In [6]:
dataset2 = pd.read_csv("/workspaces/IDS706-Final_Project-Group2/Training_cleaned/agg_daily_category_train_cleaned.csv")

dataset2.tail()

,Date,category,transactions amount,Fraud count,Fraud amount per category
7513,2020-06-21,misc_pos,5778.26,1,9.18
7514,2020-06-21,personal_care,191.83,0,0.00
7515,2020-06-21,shopping_net,8907.92,2,2187.92
7516,2020-06-21,shopping_pos,6395.15,0,0.00
7517,2020-06-21,travel,19.71,0,0.00

In [7]:
dataset3 = pd.read_csv("/workspaces/IDS706-Final_Project-Group2/Training_cleaned/agg_daily_state_category_train_cleaned.csv")

dataset3.head()

,Date,state,category,transactions amount,Fraud count,Fraud amount
0,2019-01-01,AK,entertainment,31.86,0,0.0
1,2019-01-01,AK,kids_pets,49.81,0,0.0
2,2019-01-01,AK,misc_pos,154.91,0,0.0
3,2019-01-01,AK,personal_care,16.25,0,0.0
4,2019-01-01,AK,shopping_net,8.70,0,0.0

In [8]:
dataset4 = pd.read_csv("/workspaces/IDS706-Final_Project-Group2/Training_cleaned/agg_state_category_train_cleaned.csv")
dataset4.head()

  state       category  transactions amount  Fraud count  Fraud amount
0    AK  entertainment              7685.07            0          0.00
1    AK    food_dining              5770.65            0          0.00
2    AK  gas_transport             17600.64            6         97.91
3    AK    grocery_net              1276.84            1         14.37
4    AK    grocery_pos             28017.59            8       2541.92

In [9]:
dataset5 = pd.read_csv("/workspaces/IDS706-Final_Project-Group2/Training_cleaned/agg_daily_state_train_cleaned.csv")
dataset5.head()

,Date,state,transactions amount,Fraud count per state,Fraud amount per state
0,2019-01-01,AK,3440.04,0,0.0
1,2019-01-01,AL,2583.81,0,0.0
2,2019-01-01,AR,4820.14,0,0.0
3,2019-01-01,AZ,1834.38,0,0.0
4,2019-01-01,CA,7202.58,0,0.0

In [10]:
dataset6 = pd.read_csv("/workspaces/IDS706-Final_Project-Group2/Training_cleaned/agg_state_city_train_cleaned.csv")

dataset6.head()

  state         city  transactions amount  Fraud count  Fraud amount
0    AK       Huslia             36441.87            9       4580.10
1    AK     Kaktovik              7807.28           12       7807.28
2    AK        Wales            100373.90           15       6191.29
3    AL  Bay Minette            105218.38            0          0.00
4    AL     Bessemer            177737.56            0          0.00